:root {
	--table-block-spacing: 1.5rem;
	--table-border-color: var( --color-primary );
	--table-cell-min-width: 100px;
	--table-cell-padding-x: 1.25em;
	--table-cell-padding-y: 0.75em;
	--table-font-size: var( --text-sm );
	--table-radius: var( --radius-theme );
	--table-stripes-bg-color: var( --color-primary-100 );
	--table-tfoot-font-weight: 700;
	--table-thead-bg-color: var( --color-primary );
	--table-thead-color: var( --color-white );
	--table-thead-font-weight: 700;

	@variant md {
		--table-block-spacing: 2rem;
	}
}

.wp-block-table {
	@apply w-full rounded-t-(--table-radius) text-left text-(length:--table-font-size) not-first:mt-(--table-block-spacing) not-first:mb-(--table-block-spacing);

	&:not( .has-fixed-layout ) {
		@apply overflow-x-auto;

		:is( td, th ) {
			@apply min-w-(--table-cell-min-width);
		}
	}

	table {
		@apply border-collapse;
	}

	thead {
		@apply overflow-hidden border-none bg-(--table-thead-bg-color) font-(--table-thead-font-weight) text-(--table-thead-color);
	}

	tfoot {
		@apply border-none font-bold;
	}

	tr {
		@apply border-t border-(--table-border-color);

		:is( tbody, thead ) & {
			@apply first:border-none;
		}
	}

	:is( td, th ) {
		@apply border-none px-(--table-cell-padding-x) py-(--table-cell-padding-y) align-top;
	}
}

.wp-block-table.is-style-stripes {
	@apply border-none;

	tbody tr:nth-child( odd ) {
		@apply bg-(--table-stripes-bg-color);
	}
}
