:root {
	--brave-core-table-block-spacing: --spacing( 6 );
	--brave-core-table-border-color: var( --color-primary );
	--brave-core-table-cell-min-width: 100px;
	--brave-core-table-cell-padding-x: 1.25em;
	--brave-core-table-cell-padding-y: 0.75em;
	--brave-core-table-font-size: var( --text-sm );
	--brave-core-table-tfoot-font-weight: 700;
	--brave-core-table-thead-bg-color: var( --color-primary );
	--brave-core-table-thead-color: var( --color-white );
	--brave-core-table-thead-font-weight: 700;

	@variant md {
		--brave-core-table-block-spacing: --spacing( 8 );
	}
}

.wp-block-table {
	@apply w-full text-left text-(length:--brave-core-table-font-size) not-first:mt-(--brave-core-table-block-spacing) not-first:mb-(--brave-core-table-block-spacing);

	&:not( .has-fixed-layout ) {
		@apply overflow-x-auto;

		:is( td, th ) {
			@apply min-w-(--brave-core-table-cell-min-width);
		}
	}

	table {
		@apply border-collapse;
	}

	thead {
		@apply border-none bg-(--brave-core-table-thead-bg-color) font-(weight:--brave-core-table-thead-font-weight) text-(--brave-core-table-thead-color);
	}

	tfoot {
		@apply border-none font-bold;
	}

	tr {
		@apply border-t border-(--brave-core-table-border-color);

		:is( tbody, thead ) & {
			@apply first:border-none;
		}
	}

	:is( td, th ) {
		@apply border-none px-(--brave-core-table-cell-padding-x) py-(--brave-core-table-cell-padding-y) align-top;
	}
}

.wp-block-table.is-style-stripes {
	@apply border-none;

	tbody tr:nth-child( odd ) {
		@apply bg-primary/10;
	}
}
