# Database configuration
DB_NAME="op://wp-env/brave-$APP_ENV/DB_NAME"
DB_USER="op://wp-env/brave-$APP_ENV/DB_USER"
DB_PASSWORD="op://wp-env/brave-$APP_ENV/DB_PASSWORD"
DB_HOST="op://wp-env/brave-$APP_ENV/DB_HOST"

WP_ENV="op://wp-env/brave-$APP_ENV/WP_ENV"

# Debugging mode. Enabled by default in dev environment.
# Warning: Some plugins disable themselves unless you set it to false.
WP_DEBUG="op://wp-env/brave-$APP_ENV/WP_DEBUG"

# URL of the main site. Example: https://example.lndo.site
WP_HOME="op://wp-env/brave-$APP_ENV/WP_HOME"
WP_SITEURL="${WP_HOME}/wp"
APP_URL="${WP_HOME}"

# Domain of the main site. Example: example.lndo.site
DOMAIN_CURRENT_SITE="op://wp-env/brave-$APP_ENV/DOMAIN_CURRENT_SITE"

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY="op://wp-env/brave-$APP_ENV/AUTH_KEY"
SECURE_AUTH_KEY="op://wp-env/brave-$APP_ENV/SECURE_AUTH_KEY"
LOGGED_IN_KEY="op://wp-env/brave-$APP_ENV/LOGGED_IN_KEY"
NONCE_KEY="op://wp-env/brave-$APP_ENV/NONCE_KEY"
AUTH_SALT="op://wp-env/brave-$APP_ENV/AUTH_SALT"
SECURE_AUTH_SALT="op://wp-env/brave-$APP_ENV/SECURE_AUTH_SALT"
LOGGED_IN_SALT="op://wp-env/brave-$APP_ENV/LOGGED_IN_SALT"
NONCE_SALT="op://wp-env/brave-$APP_ENV/NONCE_SALT"

# Sentry
SENTRY_DSN=

CSP_REPORT_URI=
