# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*
!web/app/mu-plugins/bedrock-autoloader.php
web/app/themes/twentytwentyfour/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example
!.env.local.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# Yard Custom
*.cache
*.dump
*.sql
*.sql.gz
.DS_Store
.idea
.pnpm-store
node_modules
public
web/app/db.php
web/app/languages
web/app/wflogs

# Husky
.husky/_
