name: {{project}}
recipe: wordpress

proxy:
  appserver_nginx:
    - {{project}}.lndo.site
#    - subsite.{{project}}.lndo.site
  mailpit:
    - mail.{{project}}.lndo.site
  pma:
    - pma.{{project}}.lndo.site
