# Default registry for all packages
registry=https://registry.npmjs.org

# Scoped package registry for @yardinternet
@yardinternet:registry=https://npm.pkg.github.com

# Font Awesome package registry
@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
