# Default registry for all packages
registry=https://registry.npmjs.org

# Scoped package registry for @yardinternet
@yardinternet:registry=https://npm.pkg.github.com

# Prevent updating to releases younger than 7 days
minimum-release-age=10080

# Prevent running scripts during installation to avoid potential security risks
ignore-scripts=true

