:root {
	--list-indent: 1.5rem;
	--list-spacing: 0.5rem;
}

.wp-block-list {
	@apply use-block-spacing list-(--list-type) space-y-(--list-spacing) pl-(--list-indent);
	--block-spacing-top: 1.5rem;
	--block-spacing-bottom: 1.5rem;

	&:is( ol ) {
		--list-type: decimal;
	}

	&:is( ul ) {
		--list-type: disc;
	}

	ol {
		--list-type: lower-alpha;
	}

	ul {
		--list-type: circle;
	}

	:is( ol, ul ) {
		--block-spacing-top: var( --list-spacing );
		--block-spacing-bottom: 0;

		ol {
			--list-type: lower-roman;
		}

		ul {
			--list-type: square;
		}
	}

	&.is-style-unstyled {
		@apply list-none;
		--list-indent: 0;

		:is( ol, ul ) {
			@apply list-none;
		}
	}
}
