:root {
	--list-indent: 1.5rem;
	--list-spacing: 0.5rem;
}

.wp-block-list {
	@apply use-block-spacing list-(--list-type) space-y-(--list-spacing) pl-(--list-indent);
	--block-spacing-start: 1.5rem;
	--block-spacing-end: 1.5rem;

	&:is( ol ) {
		--list-type: decimal;
	}

	&:is( ul ) {
		--list-type: disc;
	}

	ol {
		--list-type: lower-alpha;
	}

	ul {
		--list-type: circle;
	}

	:is( ol, ul ) {
		--block-spacing-start: var( --list-spacing );
		--block-spacing-end: 0;

		ol {
			--list-type: lower-roman;
		}

		ul {
			--list-type: square;
		}
	}
}
