@reference '@sage/styles/base/config';
@reference '@sage/styles/base/custom-variants';
@reference '@sage/styles/base/utilities';

:root {
	--theme-group-spacing: var( --spacing-size-4 );
	--theme-group-padding: var( --card-padding );
	--theme-group-radius: var( --card-radius );
}

.wp-block-theme-group {
	@apply normalize-child-margin not-first:mt-(--theme-group-spacing) not-last:mb-(--theme-group-spacing);

	&.has-background {
		@apply rounded-(--theme-group-radius) p-(--theme-group-padding);
	}
}
