@reference '@sage/styles/base/config';
@reference '@sage/styles/base/custom-variants';
@reference '@sage/styles/base/utilities';

:root {
	--group-alert-border-color: var( --color-primary );
	--group-alert-border-width: --spacing( 3 );
	--group-alert-icon-scale: 1.5;
}

.wp-block-theme-group {
	@apply normalize-child-margin not-first:mt-(--spacing-size-4) not-last:mb-(--spacing-size-4);

	&.has-background {
		@apply rounded-(--card-radius) p-(--card-padding);
	}

	&.is-style-alert {
		@apply flex gap-x-(--card-padding) border-l-(length:--group-alert-border-width) border-l-(--color-primary);

		&::before {
			@apply fontawesome scale-(--group-alert-icon-scale) self-start;
			--fa-icon: '\f06a';
		}
	}
}
