:root {
	--quote-block-spacing: --spacing( 6 );
	--quote-spacing: --spacing( 6 );
	--quote-border-color: var( --color-primary );
	--quote-border-width: --spacing( 1 );
	--quote-cite-font-size: var( --text-base );
	--quote-cite-line-height: 1.25;
	--quote-cite-spacing: --spacing( 8 );
	--quote-font-size: var( --text-lg );
	--quote-font-weight: 700;
	--quote-line-height: 1.75;
	--quote-padding-left: --spacing( 6 );

	@variant md {
		--quote-block-spacing: --spacing( 8 );
	}
}

.wp-block-quote {
	@apply border-l-(length:--quote-border-width) border-solid border-(--quote-border-color) pl-(--quote-padding-left) not-first:mt-(--quote-block-spacing) not-last:mb-(--quote-block-spacing);

	p {
		@apply mb-0 text-(length:--quote-font-size) leading-(--quote-line-height) not-last:mb-(--quote-spacing);
	}

	p:has( + cite ) {
		--quote-spacing: var( --quote-cite-spacing );
	}

	cite {
		@apply text-(length:--quote-cite-font-size) leading-(--quote-cite-line-height) font-(weight:--quote-font-weight) not-italic;
	}
}
