:root {
	--group-card-gap: --spacing( 5 );
	--group-card-image-ratio: 3 / 2;
	--group-grid-gap: var( --grid-gutter );
	--group-margin-bottom: var( --spacing-section );
	--group-margin-top: var( --spacing-section );
	--group-padding-x: 0;
	--group-padding-y: 0;
	--group-radius: 0;
	--group-section-gap: --spacing( 8 );
}

.wp-block-group:where( .has-background ) {
	--group-padding-x: --spacing( 8 );
	--group-padding-y: --spacing( 8 );
	--group-radius: var( --radius-theme );
}

.wp-block-group:where( .alignfull ) {
	--group-radius: 0;
	--group-padding-x: 0;

	&:where( .has-background ) {
		--group-padding-y: var( --spacing-section );
	}
}

.wp-block-group:where( .wp-block-group * ) {
	--group-margin-top: 0;
	--group-margin-bottom: 0;
}

/**
 * Default
 */

.wp-block-group {
	@apply normalize-child-margin mt-(--group-margin-top) mb-(--group-margin-bottom) rounded-(--group-radius) px-(--group-padding-x) py-(--group-padding-y);
}

/**
 * Grid block
 */

.wp-block-group:where( .is-layout-grid ) {
	@apply gap-(--group-grid-gap);

	@variant max-sm {
		@apply grid-cols-1!;
	}

	@variant sm:max-lg {
		@apply grid-cols-2!;
	}
}

/**
 * Card variation
 */

.wp-block-group:where( .is-variation-card ) {
	@apply flex flex-col gap-(--group-card-gap) bg-(--card-bg-color) shadow-(--card-shadow) *:my-0;
	--button-wrapper-block-spacing: 0;
	--group-card-image-width: calc( 100% + ( var( --group-padding-x ) * 2 ) );
	--group-padding-x: var( --card-padding );
	--group-padding-y: var( --card-padding );
	--group-radius: var( --card-radius );

	.wp-block-image,
	.wp-block-cover {
		@apply relative order-first -mt-(--group-padding-y) -ml-(--group-padding-x) aspect-(--group-card-image-ratio) rounded-b-none;

		img {
			@apply absolute inset-0 size-full rounded-b-[inherit] object-cover object-center;
		}
	}

	.wp-block-image {
		--image-width: var( --group-card-image-width );
	}

	.wp-block-cover {
		@apply h-auto min-h-0 w-(--group-card-image-width) p-0;
	}

	.wp-block-cover__background,
	.wp-block-cover__inner-container {
		@apply hidden;
	}

	/* Card has a single link inside the heading or a single button (link added to heading with JS) */
	&:has( .wp-block-heading a ):not( :has( a:not( .wp-block-heading a ) ) ),
	&:has( .wp-block-button__link[tabindex='-1'] ) {
		@apply relative;

		a:not( .wp-block-button__link ) {
			@apply a-linkable-area text-current no-underline;
		}

		&:hover .wp-block-heading {
			@apply underline;
		}
	}

	&:has( .wp-block-heading a ):not( :has( a:not( .wp-block-heading a ) ) ) {
		&::after {
			@apply fontawesome self-end;
			--fa-icon: '\f061';
		}
	}

	&:hover {
		.wp-block-button__link {
			--button-bg-color: var( --button-bg-color-hover );
			--button-border-color: var( --button-border-color-hover );
			--button-color: var( --button-color-hover );
		}
	}
}

/**
 * Section pattern
 */

.wp-block-group:where( .is-pattern-section ) {
	@apply grid gap-(--group-section-gap) *:my-0 *:w-full;
	--button-wrapper-block-spacing: 0;
}
