:root {
	--group-card-gap: --spacing( 5 );
	--group-card-image-ratio: 3 / 2;
	--group-grid-gap: var( --grid-gutter );
	--group-margin-bottom: var( --spacing-section );
	--group-margin-top: var( --spacing-section );
	--group-padding-x: 0;
	--group-padding-y: 0;
	--group-radius: 0;
}

.wp-block-group:where( .has-background ) {
	--group-padding-x: --spacing( 8 );
	--group-padding-y: --spacing( 8 );
	--group-radius: var( --radius-theme );
}

.wp-block-group:where( .alignfull ) {
	--group-radius: 0;
}

.wp-block-group:where( .wp-block-group * ) {
	--group-margin-top: 0;
	--group-margin-bottom: 0;
}

/**
 * Default
 */

.wp-block-group {
	@apply normalize-child-margin mt-(--group-margin-top) mb-(--group-margin-bottom) rounded-(--group-radius) px-(--group-padding-x) py-(--group-padding-y);
}

/**
 * Grid block
 */

.wp-block-group:where( .is-layout-grid ) {
	@apply gap-(--group-grid-gap);
}

/**
 * Card variation
 */

.wp-block-group:where( .is-variation-card ) {
	@apply flex flex-col gap-(--group-card-gap) bg-(--card-bg-color) shadow-(--card-shadow) *:my-0;
	--group-padding-x: var( --card-padding );
	--group-padding-y: var( --card-padding );
	--group-radius: var( --card-radius );

	.wp-block-image {
		@apply order-first -mt-(--group-padding-y) -ml-(--group-padding-x);
		--image-width: calc( 100% + ( var( --group-padding-x ) * 2 ) );

		img {
			@apply aspect-(--group-card-image-ratio) rounded-b-none object-cover object-center;
		}
	}

	.wp-block-buttons {
		@apply my-0; /* TODO: buttons block needs custom properties for this */
	}

	/* Card has a single link inside the heading or a single button (link added to heading with JS) */
	&:has( .wp-block-heading a ):not( :has( a:not( .wp-block-heading a ) ) ),
	&:has( .wp-block-button__link[tabindex='-1'] ) {
		@apply relative;

		a:not( .wp-block-button__link ) {
			@apply a-linkable-area text-current no-underline;
		}

		&:hover .wp-block-heading {
			@apply underline;
		}
	}
}
