@reference '@sage/styles/base/config';
@reference '@sage/styles/base/custom-variants';
@reference '@sage/styles/base/utilities';

:root {
	--theme-banner-bg-color: var( --color-primary );
	--theme-banner-color: var( --color-white );
	--theme-banner-content-padding-y: var( --spacing-size-6 );
	--theme-banner-image-ratio: 2 / 1;
	--theme-banner-media-width: 100%;
	--theme-banner-min-height: 0;

	@variant md {
		--theme-banner-image-ratio: auto;
		--theme-banner-min-height: --spacing( 100 );
	}

	@variant lg {
		--theme-banner-content-padding-y: var( --spacing-size-7 );
	}
}

.wp-block-theme-banner {
	@apply bg-(--theme-banner-bg-color) text-(--theme-banner-color);
}

.wp-block-theme-banner__inner {
	@apply container grid items-center min-h-(--theme-banner-min-height);

	@variant md {
		@apply grid-cols-12 gap-(--grid-gutter);
	}
}

.wp-block-theme-banner__content {
	@apply normalize-child-margin py-(--theme-banner-content-padding-y);

	@variant md {
		@apply col-span-6;
	}
}

.wp-block-theme-banner__media {
	@apply w-(--theme-banner-media-width);

	@variant max-md {
		@apply order-first -mx-(--container-padding);
		--theme-banner-media-width: calc(
			100% + var( --container-padding ) * 2
		);
	}

	@variant md {
		@apply self-stretch relative col-span-6;
	}
}

.wp-block-theme-banner__image {
	@apply aspect-(--theme-banner-image-ratio) object-center object-cover w-full;

	@variant md {
		@apply absolute inset-0 size-full;
	}
}
