@reference '@sage/styles/base/config';
@reference '@sage/styles/base/custom-variants';
@reference '@sage/styles/base/utilities';

:root {
	--theme-banner-bg-color: var( --color-primary );
	--theme-banner-color: var( --color-white );
	--theme-banner-content-padding: var( --spacing-size-6 ) 0;
	--theme-banner-image-ratio: 2 / 1;
	--theme-banner-image-width: 100%;

	@variant md {
		--theme-banner-image-ratio: auto;
		--theme-banner-image-width: 50vw;
		--theme-banner-content-padding: var( --spacing-size-7 )
			var( --spacing-size-7 ) var( --spacing-size-7 ) 0;
	}
}

.wp-block-theme-banner {
	@apply mb-section bg-(--theme-banner-bg-color) text-(--theme-banner-color);
}

.wp-block-theme-banner__container {
	@apply container grid md:grid-cols-12;
}

.wp-block-theme-banner__content {
	@apply normalize-child-margin p-(--theme-banner-content-padding) md:col-span-6;
}

.wp-block-theme-banner__media {
	@apply max-md:order-first max-md:-mx-(--container-padding) md:relative md:col-span-6;
}

.wp-block-theme-banner__image {
	@apply aspect-(--theme-banner-image-ratio) w-(--theme-banner-image-width) max-w-none object-cover md:absolute md:top-0 md:bottom-0 md:left-0 md:h-full! md:min-h-0;
}
