@custom-variant hocus {
	&:hover,
	&:focus {
		@slot;
	}
}

@custom-variant all-form-text-inputs {
	input[type='color'],
	input[type='date'],
	input[type='datetime-local'],
	input[type='datetime'],
	input[type='email'],
	input[type='month'],
	input[type='number'],
	input[type='password'],
	input[type='search'],
	input[type='tel'],
	input[type='text'],
	input[type='time'],
	input[type='url'],
	input[type='week'],
	textarea,
	select:not( [multiple] ) {
		@slot;
	}
}

@custom-variant headroom-pinned {
	html:has( .headroom--pinned ) & {
		@slot;
	}
}

@custom-variant headroom-unpinned {
	html:has( .headroom--unpinned ) & {
		@slot;
	}
}

@custom-variant a11y-contrast {
	html:has( .a11y-toolbar--contrast ) & {
		@slot;
	}
}

@custom-variant a11y-text-size {
	html:has( .a11y-toolbar--text-size ) & {
		@slot;
	}
}

/*
	Custom variants for parent and child themes.
	Example usage: @apply sage:is-button-primary child:is-button-secondary;
 */
@custom-variant sage {
	body.wp-theme-sage:not( [class*='wp-child-theme-'] ) & {
		@slot;
	}
}
