.wp-block-yard-tabs {
	@apply block;

	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		@apply grid grid-cols-1 gap-0 overflow-hidden;

		@variant md {
			grid-template-columns: var( --tabs-percentage ) 1fr;
		}
	}

	.block-list-appender {
		@apply col-start-1 m-4;
	}
}

.wp-block-yard-tabs-item__heading {
	@apply col-start-1 row-auto;
}

.wp-block-yard-tabs-item__heading-input {
	@apply !w-full rounded-none border-none bg-transparent p-0 text-(--yard-tabs-button-color) shadow-none;
}

.wp-block-yard-tabs-item__panel {
	@apply col-start-2 row-start-1 row-end-[100];
}
