.wp-block-yard-timeline {
	> .block-editor-inner-blocks
		> .block-editor-block-list__layout:has(
			:last-child.block-list-appender
		) {
		> :nth-last-child( 2 ) {
			.wp-block-yard-timeline-item__line {
				@apply h-0;
			}
		}
	}
}

.wp-block-yard-timeline-item__content {
	.block-editor-block-list__layout {
		@apply normalize-child-margin static;
	}
}
