@reference '@sage/styles/base/config';
@reference '@sage/styles/base/custom-variants';
@reference '@sage/styles/base/utilities';

:root {
	--theme-card-content-spacing: calc( var( --card-padding ) * 0.5 );
	--theme-card-image-width: calc( 100% + var( --card-padding ) * 2 );
}

.wp-block-theme-card {
	@apply overflow-clip grid gap-(--card-padding) rounded-(--card-radius) bg-(--card-bg-color) p-(--card-padding) shadow-(--card-shadow);
	--button-wrapper-block-spacing: 0;

	> div {
		@apply normalize-child-margin space-y-(--theme-card-content-spacing)!;
	}

	> img {
		@apply order-first -mx-(--card-padding) -mt-(--card-padding) aspect-(--card-image-ratio) w-(--theme-card-image-width) max-w-(--theme-card-image-width) object-cover;
	}
}
