:root {
	--breadcrumbs-font-size: 1rem;
	--breadcrumbs-home-icon: '\f015';
	--breadcrumbs-icon-font-size: 0.75em;
	--breadcrumbs-item-gap-x: var( --breadcrumbs-list-gap-x );
	--breadcrumbs-leading: 1.25;
	--breadcrumbs-list-gap-x: 1rem;
	--breadcrumbs-list-gap-y: 0.5rem;
	--breadcrumbs-padding-y: 1.5rem;
	--breadcrumbs-separator-icon: '\f054';
}
