.wp-block-button__link {
	@apply is-button;
}

.is-style-outlined .wp-block-button__link {
	@apply is-button-outline;
}

.is-style-back .wp-block-button__link::before {
	@apply fontawesome;
	--fa-icon: '\f060';
}

.is-style-small .wp-block-button__link {
	@apply is-button-small;
}

.is-style-primary-light .wp-block-button__link {
	@apply is-button-primary-light;
}

.wp-block-buttons {
	@apply mb-8;
}

/* Specificity to overwrite Gutenberg */
.wp-block-buttons > .wp-block-button {
	&.wp-block-button__width-25,
	&.wp-block-button__width-50,
	&.wp-block-button__width-75 {
		@apply w-full;

		@variant sm {
			width: calc( 50% - ( var( --wp--style--block-gap, 0.5em ) * 0.5 ) );
		}
	}

	&.wp-block-button__width-25 {
		@variant md {
			width: calc( 25% - ( var( --wp--style--block-gap, 0.5em ) * 0.5 ) );
		}
	}

	&.wp-block-button__width-75 {
		@variant md {
			width: calc( 75% - ( var( --wp--style--block-gap, 0.5em ) * 0.5 ) );
		}
	}
}
