:root {
	--wp-block-buttons-block-spacing: --spacing( 6 );
	--wp-block-buttons-gap-x: --spacing( 5 );
	--wp-block-buttons-gap-y: --spacing( 5 );
	--wp-block-button-width: auto;

	@variant md {
		--wp-block-buttons-block-spacing: --spacing( 8 );
	}
}

.wp-block-buttons {
	@apply gap-x-(--wp-block-buttons-gap-x) gap-y-(--wp-block-buttons-gap-y) not-first:mt-(--wp-block-buttons-block-spacing) not-last:mb-(--wp-block-buttons-block-spacing);
}

.wp-block-button__link {
	@apply is-button;
}

.is-style-outlined .wp-block-button__link {
	@apply is-button-outline;
}

.is-style-back .wp-block-button__link::before {
	@apply fontawesome;
	--fa-icon: '\f060';
}

.is-style-small .wp-block-button__link {
	@apply is-button-small;
}

.is-style-primary-light .wp-block-button__link {
	@apply is-button-primary-light;
}

.wp-block-button {
	@apply w-(--wp-block-button-width)!;

	&[class*='wp-block-button__width-'] {
		--wp-block-button-width: 100%;

		&:not( .wp-block-button__width-100 ) {
			@variant sm {
				@variant max-md {
					--wp-block-button-width: calc(
						50% - ( var( --wp-block-buttons-gap-x ) * 0.5 )
					);
				}
			}
		}

		.wp-block-button__link {
			@apply justify-between;
		}
	}

	&.wp-block-button__width-25 {
		@variant md {
			--wp-block-button-width: calc(
				25% - ( var( --wp-block-buttons-gap-x ) * 0.5 )
			);
		}
	}

	&.wp-block-button__width-75 {
		@variant md {
			--wp-block-button-width: calc(
				75% - ( var( --wp-block-buttons-gap-x ) * 0.5 )
			);
		}
	}
}
