:root {
	--button-bg-color-hover: var( --color-primary-700 );
	--button-bg-color: var( --color-primary );
	--button-border-color-hover: var( --color-primary );
	--button-border-color: var( --color-primary );
	--button-color-hover: var( --color-white );
	--button-color: var( --color-white );
	--button-gap: 0.75em;
	--button-padding-x: 1.25em;
	--button-padding-y: 0.75em;
	--button-radius: var( --radius-theme );
	--button-scale-active: 0.98;

	--button-wrapper-block-spacing: 1.5rem;
	--button-wrapper-gap-x: 1rem;
	--button-wrapper-gap-y: 1rem;
	@variant md {
		--button-wrapper-block-spacing: 2rem;
	}
	--block-button-width: auto;
}

.wp-block-buttons {
	@apply gap-x-(--button-wrapper-gap-x) gap-y-(--button-wrapper-gap-y) not-first:mt-(--button-wrapper-block-spacing) not-last:mb-(--button-wrapper-block-spacing);
}

.wp-block-button__link {
	@apply is-button add-button-icons;
}

.is-style-outlined .wp-block-button__link {
	@apply is-button-outline;
}

.is-style-back .wp-block-button__link {
	&::after {
		@apply content-none;
	}

	&::before {
		@apply fontawesome;
		--fa-icon: '\f060';
	}
}

.wp-block-button {
	@apply w-(--block-button-width)!;

	&[class*='wp-block-button__width-'] {
		--block-button-width: 100%;

		&:not( .wp-block-button__width-100 ) {
			@variant sm {
				@variant max-md {
					--block-button-width: calc(
						50% - ( var( --button-wrapper-gap-x ) * 0.5 )
					);
				}
			}
		}

		.wp-block-button__link {
			@apply justify-between;
		}
	}

	&.wp-block-button__width-25 {
		@variant md {
			--block-button-width: calc(
				25% - ( var( --button-wrapper-gap-x ) * 0.5 )
			);
		}
	}

	&.wp-block-button__width-50 {
		@variant md {
			--block-button-width: calc(
				50% - ( var( --button-wrapper-gap-x ) * 0.5 )
			);
		}
	}

	&.wp-block-button__width-75 {
		@variant md {
			--block-button-width: calc(
				75% - ( var( --button-wrapper-gap-x ) * 0.5 )
			);
		}
	}
}
