.card:has( .card-link ) {
	&:focus-within,
	&:hover {
		@apply -translate-y-1;
	}
}

.card-horizontal {
	@apply md:!flex-row;

	.card-image-wrapper {
		@apply md:w-1/3 md:min-w-[calc(100%_/_3)];

		&,
		.card-image:not( .card-image-logo ) {
			@apply md:rounded-l-theme md:rounded-t-none;
		}
	}

	.card-body {
		@apply xl:p-7;
	}

	.card-title {
		@apply xl:text-3xl;
	}
}
