.wp-block-file {
	@apply rounded-theme mt-4 mb-6 flex flex-wrap items-center justify-between gap-4 bg-white p-(--card-padding) shadow md:mb-8 md:flex-nowrap;

	&:has( .wp-block-file__embed ) {
		@apply flex-wrap;
	}

	/* Full classnames for Gutenberg specificity */
	.wp-block-file__button {
		@apply is-button m-0 flex gap-3 text-base;

		@variant hocus {
			@apply opacity-100;
		}

		&::after {
			@apply fontawesome;
			--fa-icon: '\f33d';
		}
	}

	a:not( .wp-block-file__button ) {
		@apply grow text-lg no-underline;

		&:hover {
			@apply underline;
		}
	}

	.wp-block-file__embed {
		@apply m-0;
	}
}
